<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- build:css css/vendor.css -->
    <link href="../../lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="../../lib/swiper/swiper.css" rel="stylesheet">
    <link href="../../lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="../../lib/popup/css/popup.css" rel="stylesheet">
    <!-- endbuild -->
    <link href="./css/style.css" rel="stylesheet">
    <!-- build:js js/vendor.js -->
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../lib/swiper/swiper.js"></script>
    <script src="../../lib/countUp.js"></script>
    <script src="../../lib/magnific-popup/magnific-popup.js"></script>
    <script src="../../lib/polyfill/polyfill.js"></script>
    <script src="../../lib/popup/js/popup.js"></script>
    <script src="../../lib/modernizr.custom.js"></script>
    <!-- endbuild -->
    <script src="./js/app.js"></script>
</head>